<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/main.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/main.js"></script>
    <title>Index</title>
</head>
<body>    
    <ul class="tabs">
        <li class="active">Movies</li>
        <li>Nearest Materials</li>
        <li>Recent Photosets</li>
        <li>Recent Reviews</li>
        <li>TopMaterial</li>
    </ul>
    <div class="mainBlock">
        <div class="active moviesBlock">
            <span class="preload"></span>
            <div id="MoviesBlock">@Html.Partial("MoviesBlock")</div>
            <div id="MovieDetails">@Html.Partial("MovieDetails")</div>
            <div id="Cinema">@Html.Partial("Cinema")</div>
        </div>
        <div>
            <div id="NearestMaterialsBlock">@Html.Partial("NearestMaterials")</div>
        </div>
        <div>
            <div id="RecentPhotosetsBlock">@Html.Partial("RecentPhotosets")</div>
        </div>
        <div>
            <div id="RecentReviewsBlock">@Html.Partial("RecentReviews")</div>
        </div>
        <div>
            <div id="TopMaterialsBlock">@Html.Partial("TopMaterials")</div>
        </div>
    </div>
</body>
</html>

